<div class="jumbotron vertical-center horizontal-center jumbotron-index" >
    <span></span><h1>eLIBRARY</h1>
    <p>The biggest online library in the world</p></span>
    <!--<button id="jumbotron-button" type="button" class="btn" data-toggle="modal" data-target="#myModal">Sign up!</button>-->
    <% if logged_in? %>
    <% else %>
      <%= button_to "Sign up!", signup_path, :method => "get", id: "jumbotron-button", type: "button", class: "btn" %>
    <% end %>
</div>
<div class="container text-center">
  <h2>WHAT DO WE OFFER?</h2>
  <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
  Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
  Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h3>
  <div class="row">
    <div class="col-sm-3">
      <p><strong>MOVIES</strong></p><br>
      <%= link_to (image_tag '33cnl9s.png', :alt => "Movies", :class => "img-circle icon"), movies_path %>
    </div>
    <div class="col-sm-3">
      <p><strong>TV SHOWS</strong></p><br>
      <%= link_to (image_tag 'http://www.w3schools.com/bootstrap/bandmember.jpg', :alt => "Movies", :class => "img-circle icon"), tv_shows_path %>
    </div>
    <div class="col-sm-3">
      <p><strong>EBOOKS</strong></p><br>
      <%= link_to (image_tag 'http://www.w3schools.com/bootstrap/bandmember.jpg', :alt => "Movies", :class => "img-circle icon"), ebooks_path %>
    </div>
    <div class="col-sm-3">
      <p><strong>MAGS</strong></p><br>
      <%= link_to (image_tag 'http://www.w3schools.com/bootstrap/bandmember.jpg', :alt => "Movies", :class => "img-circle icon"), mags_path %>
    </div>
  </div>
</div>