<div class="container-fluid container-page">
  <div class="thumbnail thumbnail-item">
  <div class="row">
    <div class="col-sm-3">
      <%=image_tag @movie.poster%>
    </div>
    <div class="col-sm-9 description-column">
      <h4>
        <%= @movie.title %>
        <%= @movie.release_year %>
        
        <!--<#%=link_to @movie.imdb do%>
        <#%=image_tag asset_path("imdb_logo.jpg")%>
        <#%end%>-->
      </h4>
      <p>
      <br><b><font color=#8c8c8c>Runtime: </font></b><%= @movie.runtime %>min <font color=#8c8c8c>| <b>Country:</b></font> <%= @movie.country %><br>
      <b><font color=#8c8c8c>Genre:</b></font> <%= @movie.genre %><br>
      <b><font color=#8c8c8c>Director:</b></font> <%= @movie.director %><br><br><br>
      <%= @movie.description %>
      </p>
    </div>
  </div>
  </div>
  <%= button_tag("Borrow", type: "submit", class: "btn signup_form_button", id: "borrow-button") %>
</div>